.Home{
	position: absolute;
	margin-bottom: 150px;
	right :0;
	display: block !important;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.Home.animate {
right: 200px;
}
