.Home{
	position: relative;
	right :0;
	display: block !important;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.Home.animate {
right: 200px;
}

.header{
	background-color: #787878;
	height: 170px;
	color: white;
	 font-size: 4.5em;
	 text-align: right;
}

.header-text{
  	padding-right: 10px;
    text-align: right;
  	font-family: Tw Cen MT;
  	margin-top: 10px;

}

.header-small-text{
	font-size: 0.23em;
 	
}


.menus{
	background-color: #33B5E5;
	text-align: center;
}


.menu-1{
	background-color: #C5B788;
	height: 110px;

}

.menu-2{
	background-color: #33B597;
	height: 110px;

}
.menu-3{
	background-color: #E6AAAA;
	height: 110px;

}
.menu-4{
	background-color: #D8EF9F;
	height: 110px;

}

.menu-5{
	background-color: #C3C3C2;
	height: 110px;

}

.menu-6{
	background-color: #AABFE6;
	height: 110px;

}

.menu-7{
	background-color: #4DB6AC;
	height: 110px;

}
.menu-8{
	background-color: #4FC3F7;
	height: 110px;

}
.menu-9{
	background-color: #4CAF50;
	height: 110px;

}
.menu-10{
	background-color: #FF9E80;
	height: 110px;

}
.menu-11{
	background-color: #B39DDB;
	height: 110px;

}
.menu-12{
	background-color: #EF9A9A;
	height: 110px;

}

.menu-13{
    background-color: #C5CAE9;
    height: 110px;

}
.menu-14{
    background-color: #A7FFEB;
    height: 110px;

}
.menu-15{
    background-color: #FFF9C4;
    height: 110px;

}

.menu-icons{
	margin-top: 20px;
}
.menu-design{
	display: block;
}

