
<div class="Home" ng-class="{'animate':move}">
  <!-- weather -->
  <div class="row">
    <div class="header">

        <div class="header-text col-xs-12">
            Components
        </div>

      <div class="header-small-text col-xs-12">
        The ultimate vault for us!
      </div>
    </div>
  </div>


  <!-- Menu -->
  <div class="menus">
    <!-- First Row -->
    <div class="row">
     <div class="menu-1 col-xs-4" ng-click="navigate('/buttonsView')">
        <i class="menu-icons fa fa-square fa-3x"></i>
        <span class="menu-design">Buttons</span>
      </div>

       <div class="menu-2 col-xs-4">
        <i class="menu-icons fa fa-tint fa-3x"></i>
        <span class="menu-design">Pallete</span>
      </div>

      <div class="menu-3 col-xs-4">
        <i class="menu-icons fa  fa-object-group fa-3x"></i>
        <span class="menu-design">Containers</span>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <div class="menu-4 col-xs-4">
        <i class="menu-icons fa  fa-calculator fa-3x"></i>
        <span class="menu-design">Calculator</span>
      </div>

       <div class="menu-5 col-xs-4">
        <i class="menu-icons fa fa-calendar fa-3x"></i>
        <span class="menu-design">Date Picker</span>
      </div>

      <div class="menu-6 col-xs-4">
        <i class="menu-icons fa fa-eyedropper fa-3x"></i>
        <span class="menu-design">Color Picker</span>
      </div>
    </div>

    <!-- Third Row -->
    <div class="row">
      <div class="menu-7 col-xs-4">
          <i class="menu-icons fa fa-angle-down fa-3x"></i>
          <span class="menu-design">Collapsibles</span>
      </div>

      <div class="menu-8 col-xs-4">
          <i class="menu-icons fa fa-square-o fa-3x"></i>
          <span class="menu-design">Text Inputs</span>
      </div>

      <div class="menu-9 col-xs-4">
          <i class="menu-icons fa  fa-caret-down fa-3x"></i>
          <span class="menu-design">Dropdown Buttons</span>
      </div>
    </div>

    <!-- Fourth Row -->
    <div class="row">
      <div class="menu-10 col-xs-4">
          <i class="menu-icons fa  fa-font fa-3x"></i>
          <span class="menu-design">Text Styles</span>
      </div>

      <div class="menu-11 col-xs-4">
          <i class="menu-icons fa fa-th-large fa-3x"></i>
          <span class="menu-design">Dividers</span>
      </div>

      <div class="menu-12 col-xs-4">
          <i class="menu-icons fa  fa-spinner fa-3x"></i>
          <span class="menu-design">Loaders</span>
      </div>
    </div>

    <!-- Fifth Row -->
    <div class="row">
      <div class="menu-13 col-xs-4">
          <i class="menu-icons fa  fa-list fa-3x"></i>
          <span class="menu-design">Lists</span>
      </div>

      <div class="menu-14 col-xs-4">
          <i class="menu-icons fa fa-exclamation-circle fa-3x"></i>
          <span class="menu-design">Modals</span>
      </div>

      <div class="menu-15 col-xs-4">
          <i class="menu-icons fa  fa-magic fa-3x"></i>
          <span class="menu-design">Wizards</span>
      </div>
    </div>



  </div><!-- Menu END -->

</div>


<!-- Float navBar-->
<navbar open="move"></navbar>